<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877208987883-jhs584f72h7tt8b2hm7b2qkstkjg5ccn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877208987883-jhs584f72h7tt8b2hm7b2qkstkjg5ccn</string>
	<key>API_KEY</key>
	<string>AIzaSyADYgQQqk3M8BCamqTL0NBBiz7yPp-ukOA</string>
	<key>GCM_SENDER_ID</key>
	<string>877208987883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tinguyen.Moodle</string>
	<key>PROJECT_ID</key>
	<string>lastmoodle</string>
	<key>STORAGE_BUCKET</key>
	<string>lastmoodle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877208987883:ios:898d143d2ea5c7483f36ae</string>
	<key>DATABASE_URL</key>
	<string>https://lastmoodle-default-rtdb.firebaseio.com</string>
</dict>
</plist>